<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>NguyenManhHung_2110900052</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NguyenManhHung_ProductListServlet</display-name>
    <servlet-name>NguyenManhHung_ProductListServlet</servlet-name>
    <servlet-class>nguyenmanhhung.servlet.NguyenManhHung_ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenManhHung_ProductListServlet</servlet-name>
    <url-pattern>/NguyenManhHung_ProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguyenManhHung_ProductCreateServlet</display-name>
    <servlet-name>NguyenManhHung_ProductCreateServlet</servlet-name>
    <servlet-class>nguyenmanhhung.servlet.NguyenManhHung_ProductCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenManhHung_ProductCreateServlet</servlet-name>
    <url-pattern>/NguyenManhHung_ProductCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguyenManhHung_ProductEditServlet</display-name>
    <servlet-name>NguyenManhHung_ProductEditServlet</servlet-name>
    <servlet-class>nguyenmanhhung.servlet.NguyenManhHung_ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenManhHung_ProductEditServlet</servlet-name>
    <url-pattern>/NguyenManhHung_ProductEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguyenManhHung_ProductDeleteServlet</display-name>
    <servlet-name>NguyenManhHung_ProductDeleteServlet</servlet-name>
    <servlet-class>nguyenmanhhung.servlet.NguyenManhHung_ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguyenManhHung_ProductDeleteServlet</servlet-name>
    <url-pattern>/NguyenManhHung_ProductDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>