USE [NguyenManhHung_2110900052_db]
GO
/****** Object:  Table [dbo].[NguyenManhHung_2110900052_Product]    Script Date: 23/02/2024 11:19:46 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenManhHung_2110900052_Product](
	[MaSP_2110900052] [varchar](10) NOT NULL,
	[TenSP_2110900052] [nvarchar](250) NULL,
	[SoLuong_2110900052] [int] NULL,
	[DonGia_2110900052] [float] NULL,
	[Anh_2110900052] [varchar](250) NULL,
 CONSTRAINT [PK_NguyenManhHung_2110900052_Product] PRIMARY KEY CLUSTERED 
(
	[MaSP_2110900052] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NguyenManhHung_2110900052_Product] ([MaSP_2110900052], [TenSP_2110900052], [SoLuong_2110900052], [DonGia_2110900052], [Anh_2110900052]) VALUES (N'12', N'12q', 121, 121, N'120')
INSERT [dbo].[NguyenManhHung_2110900052_Product] ([MaSP_2110900052], [TenSP_2110900052], [SoLuong_2110900052], [DonGia_2110900052], [Anh_2110900052]) VALUES (N'2110900052', N'Nguyễn Mạnh Hùng', 10, 100000, N'anh1.jpg')
GO
